{% for movie in site.movies %}
  <div class="cartelera">
    <div class="pelicula">
      <a href=".{{ movie.url }}"><img class="poster" src="https://thaiskh.gitlab.io/cinemat/media/img/movies/thumbnails/{{movie.poster_path}}" alt="{{ movie.title }}">
      </a>
      <h6>{{ movie.title }}</h6>
    </div>
  </div>
{% endfor %}
