<nav>
  <a href="https://thaiskh.gitlab.io/cinemat"><img src="https://thaiskh.gitlab.io/cinemat/media/img/logo/whitelogo.png" alt="Logo CineMA'T"></img></a>
  <ul class="nav">
    {% for item in site.data.navigation %}
    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</nav>
