@import url('https://fonts.googleapis.com/css?family=PT+Sans|Teko&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: "PT Sans", sans-serif;

}

#wrapper{
  width:1349px;
  margin: 40px auto 40px auto;
}


h1 {
  font-size: 3em;
  font-family: "Teko", sans-serif;
  margin-top: 30px;
  margin-left: 30px;
}

h3{
  font-family: "Teko", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-left: 40px;
}

h4{
  font-size: 1.25em;
}

header{
  margin-bottom: -40px;
}

/*DISSENY DEL MENU*/
nav{
    width:100%;
    height: 40px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav{
  float:right;
}

ul, ol {
    list-style:none;
}

a:link {
  color:red;
  text-decoration: none;
}

a:visited {
  color:red;
  text-decoration: none;
}

a:hover {
  color:red;
}

.nav > li {
  float:left;
}

.nav li a {
    background-color:black;
    color:white;
    text-decoration:none;
    padding:10px 50px 10px 50px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

/*FOOTER*/
footer{
  background-color:black;
  color:#fff;
  width:100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

#footerimg{
  display:inline-block;
  width:80px;
  float:left;
  margin:5px 5px 5px;
}

.footerp{
  float:left;
  font-size: 1em;
  font-weight: lighter;
  margin:10px 5px 5px;
}

.social{
  display:inline-block;
  float:right;
  margin:5px 5px 5px;
  width:25px;
}

#twitter{
  position:relative;
  top:2.5px;
}

.contacto{
  background-color:black;
  color:#fff;
  width:100%;
  margin-bottom: 36.66px;
}

.contact{
  background-color:black;
  color:#fff;
  width:100%;
  margin-bottom: 5px;
}
